/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.pagamento-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
  width: fit-content;
  padding: 0px 10px 0px 5px;
  border-radius: 10px;
  border: solid black 0.5px;
}
