@page "/login"
@using System.Text.Json
@using System.Text
@inject HttpClient Http 
@inject NavigationManager Navigation

    <section class="login">

      <div class="wrapper">
        <a @onclick="GoToIndex">
          <img src="images/LogoFisioNorte2.png" class="login__logo">
        </a>

        <h1 class="login__title">Fazer login</h1>
    
        <label class="login__label">
          <span class="span-active">cpf</span>
          <input type="text" name="cpf" class="input" @bind="CPF">
        </label>
  
        <label class="login__label">
          <span class="span-active">senha</span>
          <input type="password" name="password" class="input" @bind="Senha">
        </label>
  
        <!-- <div class="login__icons">
          <button type="button" class="icons__button">
            <img src="./images/facebook-icon.png" alt="facebok">
          </button>
  
          <button type="button" class="icons__button">
            <img src="./images/google-icon.png" alt="facebok">
          </button>
  
          <button type="button" class="icons__button">
            <img src="./images/apple-icon.png" alt="facebok">
          </button>
        </div> -->
  
        <!--<label class="login__label--checkbox">
          <input type="checkbox" class="input--checkbox">
          Manter login
        </label>-->
      </div>

      <div class="wrapper">
        <!--<button type="button" class="login__button" disabled>-->
          <button type="button" class="login__button" @onclick="Logar">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"/>
          </svg>
        </button>
        <!--</button>-->
  
        <a @onclick="GoToCadastro" class="login__link">não consegue iniciar sessão?</a>
        <a @onclick="GoToCadastro" class="login__link">criar conta</a>
      </div>

    </section>

    <section class="wallpaper imageOne"></section>

@code {
    private void GoToIndex(){
        Navigation.NavigateTo("/");
    }
    private void GoToCadastro(){
        Navigation.NavigateTo("cadastro");
    }
    private void GoToConta(){
        Navigation.NavigateTo("conta");
    }
    private void GoToPagamento(){
        Navigation.NavigateTo("pagamento");
    }
    public string CPF { get; set; }
    public string Senha { get; set; }

    private async void Logar(){
      var pessoa = new LoginDTO {
            CPF = CPF,
            Senha = Senha
        };
      
      HttpResponseMessage response = await Http.PostAsJsonAsync<LoginDTO>("cliente/login", pessoa);
      if (response.IsSuccessStatusCode){
        var id = await response.Content.ReadAsStringAsync();
        Navigation.NavigateTo($"conta/{id}");
      }
    }

    public class LoginDTO
    {
    public string CPF { get; set; }
    public string Senha { get; set; }
    }

}